
body {
	background-image: url(imagens-estrutura/arvoregenealogica.png);
	background-size: 100%;
}
h1 {
	text-align: center;
	 font-family: "Lora", serif;
	font-size: 60px;
	font-weight: 400;
}

._botao {
	text-align: center;
}

form {
	text-align: center;
}

#imagemhome {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;



}

#imagemhome img {
	/*border: 3px solid lightgreen;*/
	padding: 5px;
	margin: 5px;
	width: 450px;
	height: 300px;
	transition: all 1s; 
}


#imagemhome img:hover {
	transform: scale(1.05);
}

#carouselExample {

	width: 675px;
	height: 450px;


}
